@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,400;0,700;1,400;1,700&family=Magra:wght@700&family=Red+Hat+Text:wght@500&display=swap");
/******************** reset ********************/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

/******************** base ********************/
body {
  margin: 0;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.secction-title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

.wrapper-top {
  background-image: url(./assets/img/preview-background.png);
  background-size: cover;
}

.wrapper-bottom {
  background-image: url(./assets/img/stories-background.png);
  background-size: cover;
}

.button {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  background: #0D606F;
  border-radius: 10px;
  border: 0;
  padding: 14px 33px;
  cursor: pointer;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.button:hover {
  background: #F2785C;
}

.button:active {
  background: #0b404d;
}

.section-title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

@media (min-width: 500px) and (max-width: 1439px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    width: auto;
  }
}

@media (max-width: 900px) {
  .button {
    padding: 3% 4%;
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 778px) {
  .section-title {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .wrapper-top {
    background-image: url(./assets/img/mobile-preview-background.png);
  }
  .wrapper-bottom {
    background-image: url(./assets/img/mobile-stories-background.png);
  }
  .wrapper {
    width: auto;
  }
  .button {
    padding: 2% 3%;
    font-size: 11px;
    line-height: 15px;
  }
  .section-title {
    font-size: 14px;
    line-height: 19px;
  }
}

/******************** header ********************/
.header {
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 120px 13px 120px;
}

.header-logo-link {
  color: #fff;
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  margin: 12px 0 0 0;
}

.header-nav {
  width: 496px;
  margin: 0 auto;
}

.header-nav-link {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.header-nav-link:hover {
  border-bottom: 2px solid #fff;
  color: #0D606F;
}

.header-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -31px;
}

.mobile-header-item {
  display: none;
}

.header-login-button {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background: #0D606F;
  border-radius: 10px;
  border: 0;
  color: #fff;
  padding: 11px 30px;
  margin: 12px 0 0 0;
  cursor: pointer;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.header-login-button:hover {
  color: #F2785C;
  background: #fff;
}

.header-login-button:active {
  background: #0b404d;
}

.header-burger {
  width: 35px;
  height: 32px;
  background: url(./assets/svg/burger.png) no-repeat;
  display: none;
  cursor: pointer;
  margin: 13px 9px 0 0;
}

.cross {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url(./assets/svg/close.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .header-logo-text {
    display: none;
  }
  .header-nav-link {
    font-size: 13px;
  }
  .header-nav {
    width: 60%;
  }
}

@media (max-width: 778px) {
  .wrapper-header {
    padding: 31px 4% 13px 4%;
  }
}

@media (max-width: 500px) {
  .header {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-login {
    display: none;
  }
  .header-logo-text {
    display: none;
  }
  .wrapper-header {
    padding: 31px 4% 13px 4%;
  }
  .header-burger {
    display: block;
    margin: 13px 9px 0 81%;
  }
  .header-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    padding: 19px 0 4px 0;
  }
  .header-item {
    text-align: right;
    padding: 3px 18px 4px 18px;
  }
  .header-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 43%;
    border-radius: 10px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #F2785C;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .cross {
    display: block;
  }
  .menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-header-item {
    display: block;
  }
  .header-nav-link {
    font-size: 16px;
  }
}

/******************** preview ********************/
.preview {
  padding: 31px 120px 13px 120px;
}

.preview-title {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #fff;
  padding: 0 0 13px 0;
}

.preview-description {
  color: #fff;
  font-style: italic;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 0 25px 0;
}

.preview-search {
  position: relative;
  width: 892px;
  padding: 0 0 240px 0;
}

.preview-input {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  padding: 34px 39px 34px 39px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: 0;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #F2785C;
}

input::-moz-placeholder {
  color: #F2785C;
}

.preview-button {
  position: absolute;
  top: 19px;
  right: 19px;
}

@media (min-width: 500px) and (max-width: 1439px) {
  .preview-search {
    width: 90%;
  }
  .preview-title {
    font-size: 60px;
  }
}

@media (max-width: 778px) {
  .preview-title {
    font-size: 40px;
    line-height: 35px;
  }
  .preview-input {
    font-size: 16px;
    line-height: 20px;
    padding: 24px 39px 24px 39px;
  }
  .preview-button {
    top: 15px;
  }
  .preview {
    padding: 47px 4% 45px 4%;
  }
}

@media (max-width: 500px) {
  .preview {
    padding: 47px 4% 45px 4%;
  }
  .preview-title {
    display: none;
  }
  .preview-description {
    display: none;
  }
  .preview-search {
    width: 100%;
    padding: 0 0 5% 0;
  }
  .preview-input {
    font-size: 14px;
    line-height: 17px;
    padding: 5% 5% 4% 5%;
  }
  .preview-button {
    top: 9px;
    right: 9px;
  }
}

/******************** steps ********************/
.steps {
  padding: 47px 131px 13px 131px;
}

.steps-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 0 0 0;
}

.steps-icon {
  width: 100px;
  height: 100px;
  background: #F2785C;
  border-radius: 16px;
  margin: 0 auto;
}

.steps-icon {
  background-repeat: no-repeat;
  background-position: center;
}

.steps-icon.bike {
  background-image: url(./assets/svg/step1.png);
}

.steps-icon.calendar {
  background-image: url(./assets/svg/step2.png);
}

.steps-icon.airplane {
  background-image: url(./assets/svg/step3.png);
}

.steps-description {
  padding: 10px 0 0 0;
}

.steps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
}

.steps-item.one {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.steps-item.two {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-item.free {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1050px) {
  .steps-item.one {
    width: 21%;
  }
  .steps-item.free {
    text-align: right;
    width: 21%;
  }
}

@media (max-width: 778px) {
  .steps {
    padding: 2% 4% 13px 4%;
  }
}

@media (max-width: 500px) {
  .steps {
    padding: 2% 4% 13px 4%;
  }
  .steps-list {
    padding: 0px 0 0 0;
    margin-bottom: -13px;
  }
  .steps-icon {
    width: 70px;
    height: 70px;
    background-size: 64%;
  }
  .steps-description {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 6px;
  }
  .steps-item.one {
    width: 21%;
  }
  .steps-item.free {
    width: 21%;
    text-align: right;
  }
}

/******************** destinations ********************/
.destinations {
  padding: 11px 0px 13px 0px;
}

.wrapper-destination-list {
  overflow: hidden;
  padding: 12px 0 0 0;
  position: relative;
}

.destinations-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2520px;
  margin-left: -540px;
  margin-top: 0;
}

.destinations-item {
  width: 800px;
  height: 800px;
  background: url(.jpg), #FFFFFF;
  border-radius: 16px;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.destinations-item:nth-child(1) {
  background-image: url(./assets/img/destination1.png);
}

.destinations-item:nth-child(2) {
  background-image: url(./assets/img/destination2.png);
}

.destinations-item:nth-child(3) {
  background-image: url(./assets/img/destination3.png);
}

.destinations-description {
  position: absolute;
  color: #fff;
  bottom: 39px;
  left: 15px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}

.destinations-label-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  margin: 0 auto;
  padding: 5px 0 39px 0;
}

.destinations-label-link {
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.destinations-label-link.active {
  background: #F2785C;
}

.destinations-label-link:hover {
  background-color: red;
}

.destinations-label-link:active {
  background-color: brown;
}

.destination-button {
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 14px 33px 14px 82px;
}

.destination-button:before {
  position: absolute;
  width: 40px;
  height: 41px;
  content: "";
  background-image: url(./assets/svg/bi_arrow-right.png);
  top: 9px;
  left: 32px;
}

.arrow {
  position: absolute;
  display: block;
  top: 100px;
  width: 15px;
  height: 30px;
  display: none;
  background-size: cover;
  background-position: center;
}

.destination-arrow-left {
  background-image: url(../assets/svg/arrow-left.svg);
  left: 10px;
}

.destination-arrow-left.active {
  background-image: url(../assets/svg/arrow-left-active.svg);
}

.destination-arrow-right {
  background-image: url(../assets/svg/arrow-right.svg);
  right: 10px;
}

.destination-arrow-right.active {
  background-image: url(../assets/svg/arrow-right-active.svg);
}

.transformAnimation {
  -webkit-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out;
}

@media (min-width: 779px) and (max-width: 1439px) {
  .destinations-list {
    width: calc(55.5555vw * 3 + 4.1666vw * 2);
    margin-left: -37.5vw;
  }
  .destinations-item {
    width: 55.5555vw;
    height: 55.5555vw;
  }
}

@media (max-width: 900px) {
  .destination-button:before {
    top: 2px;
  }
}

@media (max-width: 778px) {
  .destinations {
    position: relative;
    padding: 0px 3.85vw 8px 3.85vw;
  }
  .wrapper-destination-list {
    padding: 9px 0 0 0;
    width: calc(100vw - (3.85vw*2));
  }
  .destinations-list {
    width: 276.9vw;
    margin-bottom: 10px;
    margin-left: -92.3vw;
    margin-right: 0px;
  }
  .destinations-item {
    width: 92.3vw;
    height: 210px;
    background-size: cover;
  }
  .destinations-item:nth-child(1) {
    background-image: url(./assets/img/mobile-destination1.png);
  }
  .destinations-item:nth-child(2) {
    background-image: url(./assets/img/mobile-destination2.png);
  }
  .destinations-item:nth-child(3) {
    background-image: url(./assets/img/mobile-destination3.png);
  }
  .destinations-label-list {
    position: absolute;
    bottom: 30px;
    left: 45.38vw;
    width: 9.23vw;
  }
  .destinations-label-link {
    width: 8px;
    height: 8px;
  }
  .destinations-description {
    top: 0px;
    left: 16px;
    font-size: 20px;
  }
  .destination-button {
    padding: 2% 3% 2% 8%;
  }
  .destination-button:before {
    width: 10px;
    height: 10px;
    background-size: cover;
    top: 10px;
    left: 14px;
  }
  .arrow {
    display: block;
  }
}

/******************** stories ********************/
.stories {
  padding: 34px 0px 0px 0px;
}

.transparent-wrapper-bottom {
  background: rgba(255, 255, 255, 0.7);
  padding: 0 0 39px 0;
}

.stories .section-title {
  padding: 0 0 5px 0;
}

.stories-list {
  padding: 41px 120px 13px 120px;
}

.stories-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.stories-image {
  width: 400px;
  height: 250px;
  -webkit-filter: drop-shadow(0px 4px 4px #0D606F);
          filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories-wrapper {
  padding: 0px 0 0 40px;
}

.stories-title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 0px;
  color: #0D606F;
  margin: 21px 0 0 0;
}

.stories-description {
  padding: 25px 0 0 0;
  margin-bottom: 0px;
}

.stories-button {
  margin: -24px auto 0 auto;
  display: block;
  position: relative;
  padding: 15px 37px 15px 84px;
}

.stories-button:before {
  position: absolute;
  width: 40px;
  height: 41px;
  content: "";
  background-image: url(./assets/svg/bi_arrow-right.png);
  top: 9px;
  left: 32px;
}

.stories-link {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}

.stories-link:hover {
  text-decoration: none;
}

@media (max-width: 1439px) {
  .stories-title {
    font-size: 30px;
  }
}

@media (max-width: 1050px) {
  .stories-image {
    width: 200px;
    height: 160px;
  }
}

@media (max-width: 900px) {
  .stories-title {
    font-size: 25px;
  }
  .stories-button:before {
    top: 2px;
  }
}

@media (max-width: 778px) {
  .stories {
    padding: 0px 0px 0px 0px;
  }
  .stories-wrapper {
    padding: 0px 0 0 10px;
  }
  .stories-list {
    padding: 10px 4% 1px 4%;
  }
  .stories-item {
    margin: 0 0 14px 0;
  }
  .stories-description {
    font-size: 9px;
    line-height: 11px;
    padding: 0px 0 0 0;
  }
  .stories-title {
    font-size: 11px;
    line-height: 13px;
    margin: 6px 0 0 0;
  }
  .stories-image {
    width: 155px;
    height: 130px;
  }
  .stories-mobile-hide {
    display: none;
  }
  .stories-link {
    font-size: 9px;
    line-height: 11px;
    margin-top: 0px;
    display: block;
  }
  .stories .section-title {
    padding: 0 0 0px 0;
  }
  .stories-button {
    padding: 2% 3% 2% 8%;
  }
  .stories-button:before {
    width: 10px;
    height: 10px;
    background-size: cover;
    top: 10px;
    left: 14px;
  }
}

/******************** footer ********************/
.footer {
  padding: 13px 120px 14px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-students-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0 0 0;
}

.footer-students-link {
  display: block;
}



.footer-description {
  text-align: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin: 8px 0 0 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0 0 0;
}

.footer-social-link {
  width: 34px;
  height: 34px;
  display: block;
}

.footer-social-link.instagram {
  background-image: url(./assets/svg/instagram.png);
}

.footer-social-link.youtube {
  background-image: url(./assets/svg/video.png);
}

.footer-social-link.twitter {
  background-image: url(./assets/svg/twitter.png);
}

@media (max-width: 778px) {
  .footer {
    padding: 13px 4% 17px 4%;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 13px 4% 17px 4%;
  }
  .footer-students-list {
    display: none;
  }
  .footer-description {
    display: none;
  }
  .wrapper-bottom {
    margin-top: -10px;
  }
  .transparent-wrapper-bottom {
    padding: 0 0 13px 0;
  }
  .footer-social-list {
    margin: 0 auto;
  }
}

/******************** overlay ********************/
.overlay.active, .overlay-login.active {
  pointer-events: all;
  opacity: 1;
}

.overlay, .overlay-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

/******************** login ********************/
.login-popup {
  position: absolute;
  top: -1000px;
  left: calc(50% - 325px);
  width: 650px;
  z-index: 5;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.login-popup.active {
  top: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.wrapper-popup {
  padding: 0px 45px 20px 45px;
  text-align: center;
}

.login-title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 25px;
  color: #0D606F;
  text-align: center;
  padding-bottom: 5px;
}

.login-button {
  position: relative;
  display: block;
  width: 100%;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 15px 0;
  cursor: pointer;
}

.login-button span {
  position: relative;
}

.login-button span:before {
  position: absolute;
  top: 0px;
  left: -40px;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
}

.login-button.facebook {
  color: #fff;
  background: #1877F2;
  margin-bottom: 19px;
  padding-left: 40px;
}

.login-button.facebook span:before {
  background-image: url(./assets/svg/facebook-logo.png);
}

.login-button.google {
  background: #fff;
  color: #0D606F;
  margin-bottom: 31px;
  padding-left: 40px;
}

.login-button.google span:before {
  background-image: url(./assets/svg/google-logo.png);
}

.login-button.popup {
  color: #fff;
  background: #0D606F;
  margin-bottom: 5px;
}

.login-line-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 1px;
  overflow: visible;
  background-color: rgba(13, 96, 111, 0.5);
  color: rgba(13, 96, 111, 0.5);
  width: 100%;
  border: none;
}

.login-line-text span {
  display: block;
  padding: 0 10px;
  margin-bottom: 9px;
}

.login-description {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
}

.login-input {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.8), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.8), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  color: #0D606F;
}

.login-input-title {
  padding-bottom: 6px;
  text-align: left;
}

.login-input.email {
  margin-bottom: 20px;
}

.login-input.password {
  margin-bottom: 24px;
}

.login-skip-password-link {
  text-decoration: underline;
  font-size: 15px;
  font-weight: 700;
  cursor: default;
}

.login-skip-password-link:hover {
  text-decoration: none;
}

.login-skip-password-link:visited {
  color: #0D606F;
}

.login-footer-line {
  margin-top: 24px;
  margin-bottom: 16px;
}

.login-description-link {
  text-decoration: underline;
  font-weight: 700;
  cursor: default;
}

.login-description-link:hover {
  text-decoration: none;
}

.login-description-link:visited {
  color: #0D606F;
}

.login-enter, .login-enter1, .login-enter2 {
  display: none;
}

.login-enter.active, .login-enter1.active, .login-enter2.active {
  display: block;
}

.login-register, .login-register1, .login-register2 {
  display: none;
}

.login-register.active, .login-register1.active, .login-register2.active {
  display: block;
}

@media (max-width: 767px) {
  .login-popup {
    width: 80%;
    left: calc(50% - 40%);
  }
}

@media (max-width: 450px) {
  .login-title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 0px;
  }
  .login-button {
    font-size: 15px;
    line-height: 15px;
  }
  .login-input {
    padding: 15px 20px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */